<div class="wrap">
    <h1>Tell your story. Change our world.</h1>
<p class='first'>At WILA, not only do we provide affordable therapy to the diverse communities of Los Angeles, 
    we address community needs through projects that see our clients as whole persons in society.
     Our goal is to empower everyday people to tell their story, understand themselves, 
     and make a difference in their lives and their communities.</p>
<p class="second">Our socially conscious therapists provide low-cost and confidential therapy to individuals,
    couples, and families from all walks of life. No insurance? No problem. Our fees operate on a sliding scale,
    so reach out today and see if WILA is right for you.</p>
</div>