<header>
    <div class="head">WILA</div>
    <div class="burger">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>
<div class="wrap">
    <div class="content">
        <h1>We help people reach their full potential</h1>
        <p>WILA is at the forefront of a therapy movement, changing the ways people are treated when they need help but are held back by financial, cultural and
            systemic barriers.
        </p>
        <button>Begin Theraphy</button>
    </div>
</div>
