<div class="wrap">
    <h3>Individuals</h3>
    <p>Safe one-on-one sessions to explore who you are and how you can create new possibilities</p>
    <h3>Couples</h3>
    <p>Joint sessions to help you and your partner resolve underlying problems and increase intimacy</p>
    <h3>Families</h3>
    <p>Joint sessions for for loved ones who want to reduce conflict and improve communication</p>
    <h3>Croups</h3>
    <p>Meet together with likeminded individuals to reduce isolation and increase relatedness</p>
</div>